@charset "UTF-8";
.hero {
  background: url("/img/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero img {
  border-radius: 20px;
}

.btn-color {
  background: #1596C1 !important;
}

.hero-cta {
  background: #1596C1;
  text-decoration: none;
  color: #fff !important;
  font-size: 1.6em;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 10px;
}

.hero-cta::after {
  content: ' →';
}

.hero-cta:hover {
  background: #242424;
  color: #1596C1 !important;
}

.side-cta {
  background: #fff;
  text-decoration: none;
  color: #242424 !important;
  font-size: 1.6em;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 10px;
}

.side-cta::after {
  content: ' →';
}

.side-cta:hover {
  background: #242424;
  color: #1596C1 !important;
}

.hero-title {
  font-size: 5.4em;
  font-weight: 600;
  line-height: 95%;
  color: #fff;
}

.hero-title span {
  color: #1596C1;
}

.hero-subtitle {
  font-size: 1.6em;
  line-height: 120%;
  margin-top: 30px;
  color: #fff;
}

#about {
  padding: 100px 0px;
  background: #fafafa;
}

#about .process-box img {
  width: 80px;
  height: auto;
}

#offtakers {
  padding: 100px 0px;
  background: #1596C1;
}

#offtakers .sectional-title {
  color: #012635;
}

#offtakers .sectional-subtitle {
  color: #fff;
}

#offtakers .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#offtakers .column img {
  border-radius: 20px;
}

#offtakers .steps-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 10px;
  margin-top: 40px;
  border-radius: 20px;
}

#offtakers .step-box {
  border-left: 1px solid #A6E2FF;
  padding: 20px;
}

#offtakers .step-box .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#offtakers .step-box img {
  margin-bottom: 10px;
  width: 60px;
}

#offtakers .step-box h2 {
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 10px;
  color: #012635;
}

.sectional-title {
  font-size: 3.2em;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 110%;
  color: #1596C1;
}

.sectional-subtitle {
  font-size: 1.2em;
}

.traction-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 30px;
  margin-top: 100px;
}

.traction-box {
  color: #fff;
  border-left: 1px solid #012635;
  padding-left: 30px;
}

.traction-box h2 {
  font-size: 6em;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 90%;
}

.traction-box p {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0px;
  line-height: 100%;
  color: #012635;
}

.process-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 30px;
  margin-top: 30px;
}

.process-box {
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}

.process-box img {
  margin-bottom: 20px;
}

.process-box h2 {
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 10px;
}

#partners {
  padding: 100px 0px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231596c1' fill-opacity='0.38' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#partners .partners-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 20px;
}

#partners .partner-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#partners .partner-box img {
  height: 60px;
  width: auto;
}

.logos-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 30px;
}

.logos-box {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .hero {
    background: url("/img/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .steps-wrapper, .logos-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
  }
  .process-wrapper, .traction-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .partners-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .traction-box {
    border-left: none;
    border-bottom: 1px solid #012635;
    padding: 0px 0px 30px 0px;
  }
  .hero-title {
    font-size: 3em;
  }
  .hero-subtitle {
    font-size: 1.5em;
  }
  #about, #offtakers, #partners {
    padding: 50px 30px;
  }
  .sectional-title {
    line-height: 110%;
    font-size: 2em;
  }
  #partners {
    padding: 100px 0px;
    background: #efefef;
  }
  #partners .partners-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
    grid-gap: 20px;
  }
  #partners .partner-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #partners .partner-box img {
    height: 40px;
    width: auto;
  }
}
/*# sourceMappingURL=sobridge.css.map */